div#container {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: min(4vh, 4vw);
    /* border: 2px dotted slateblue; */
}

div#attachment_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    /* border: 1px solid salmon; */
    margin: 0;
    margin-bottom: min(2vh, 4vw);
    padding: 0;
}

h1 {
    width: min(90vw, 120vh);
    font-size: min(10vw, 6vh);
    /* border: 1px solid red; */
    font-family: "Playfair Display SC", serif;
    font-weight: 700;
    font-style: normal;
    color: #4E598C;
    margin: 0;
    margin-bottom: min(2vh, 4vw);
}

p {
    font-size: min(4vw, 3.5vh);
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: min(80vw, 90vh);
    color: #4E598C;
    margin: 0;
    margin-bottom: min(3vh, 6vw);
}

p#attachment_text {
    font-size: min(3vw, 3vh);
    color: rgba(78, 89, 140, 0.5);
    width: auto;
    /* border: 1px solid green; */
}

button {
    font-size: min(5.25vw, 3vh);
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    width: min(60vw, 50vh);
    height: min(12vw, 10vh);
    color: #4E598C;
    border: min(0.22vh, 0.4vw) solid #4E598C;
    outline: none;
    background: white;
    margin: 0;
    padding: 0;
    border-radius: .2rem;
    margin-bottom: min(2vh, 4vw);
    transition: all 100ms ease-out;
}

button#attachment_button {
    margin-bottom: 0;
}

button:hover {
    background: #4E598C;
    color: white;
    border: .15rem solid transparent;
    border-radius: .2rem;
}

textarea {
    font-size: min(4vw, 3vh);
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: min(70vw, 80vh);
    height: min(20vw, 10vh);
    color: #4E598C;
    margin: 0;
    padding: min(3vh, 4vw);
    outline: none;
    border: min(0.22vh, 0.4vw) solid #4E598C;
    border-radius: .2rem;
    margin-bottom: min(1vh, 2vw);
    resize: none;
}

input#user_field {
    font-size: min(4vw, 3vh);
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: min(70vw, 80vh);
    height: min(8vw, 4vh);
    color: #4E598C;
    margin: 0;
    padding: min(3vh, 4vw);
    outline: none;
    border: min(0.22vh, 0.4vw) solid #4E598C;
    border-radius: .2rem;
    margin-bottom: min(2vh, 4vw);
}

p#attachment_text.red {
    color: #8C4E4F;
}

textarea::placeholder, input::placeholder {
    color: rgba(78, 89, 140, 0.5);
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(78, 89, 140, 0.5);
  margin: min(2vh, 4vw) 0;
  padding: 0;
}